p{
    margin: 0px;
}
h1{
    text-align: center;
}
#one{
    background-color: #1f1ffc;
    
}
#two{
    background-color: #1f1ffc;
    opacity: 0.9;
    
}
#thr{
    background-color: #1f1ffc;
    opacity: 0.8;
    
    
}
#four{
    background-color: #1f1ffc;
    opacity: 0.7;
    
    
}
#five{
    background-color: #1f1ffc;
    opacity: 0.6;
}
#six{
    background-color: #1f1ffc;
    opacity: 0.5;  
}
#seven{
    background-color: #1f1ffc;
    opacity: 0.4;   
}
#eigth{
    background-color: green;
}
#nine{
    background-color: rgb(241, 18, 92);
    opacity: 0.4;
}
#ten{
    background-color: rgb(241, 18, 92);
    opacity: 0.5;
}
#eleven{
    background-color: rgb(241, 18, 92);
    opacity: 0.6;
}
#twelve{
    background-color: rgb(241, 18, 92);
    opacity: 0.7;
}
#thir{
    background-color: rgb(241, 18, 92);
    opacity: 0.8;
}
#fourth{
    background-color: rgb(241, 18, 92);
    opacity: 0.9;
}
#fiften{
    background-color: rgb(241, 18, 92);
}